


.header {
    background-color:blue 
}
.shadow {
    box-shadow: 0 0 100px rgba(176, 186, 190, 0.5);
}


.bordes {
width: 1200px;
    height: 100px;
    background: linear-gradient( to top,#171C26 10%, rgba(173, 167, 165, 0));
  
  }

.wrapImg{
    background: linear-gradient(to bottom, rgb(0, 0, 0,.25), rgba(173, 167, 165, 0)),url();
}


  /* #0E121B;
  -cm-colors-bg0: #0E121B;
    --cm-colors-bg1: #171C26;
    --cm-colors-bg2: #1F2633;
    --cm-colors-bg3: #2F384C;
    --cm-colors-bg4: #364259;
    --cm-colors-fg1: rgba(255,255,255,1);
    --cm-colors-fg2: #95ACDA;
    --cm-colors-fg3: #60759F;*/